<div class="w3-card-4 w3-margin w3-white">
    <img src="~/images/bridge.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
        <h3><b>TITLE HEADING</b></h3>
        <h5>Title description, <span class="w3-opacity">April 7, 2014</span></h5>
        <hr>
    </div>

    <div class="w3-container">
        <p>
            Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
            tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
        </p>

    </div>
</div>
